
.login_form {
    width: 300px;
    height: 250px;

    background: SkyBlue;
    border-radius: 10px;

    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 520px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.bor{
border-style : hidden;
width : 200px;
height : 40px;
}


.button1{
        background-color: DarkSlateGray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 4px;
        font-size: 12px;
        margin: 4px ;
        cursor: pointer;
        float: centre;
}

.pass_form {
    width: 300px;
    height: 280px;

    background: SkyBlue;
    border-radius: 10px;

    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 350px;
    margin-left: 500px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
}