{% extends 'base.html'  %}

{% block 'content'  %}
<style>
body{
            background-color: LightYellow;
        }

button[type=submit] {
    background-color: royalblue;
    color: white;
    margin-top : 15px;
    margin-right : 20px;
    padding: 5px 10px;
    font-size : 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: centre;
}

</style>
{% if messages %}
        {% for message in messages %}
    <center><p style="color:blue; padding-right:60px; padding-top:15px;"> {{ message }} </p></center>
        {% endfor %}
    {% endif %}
<form class="pass_form" method="post">
  {% csrf_token %}

 {% for field in form %}

        <p><font size="2"> {{ field.label_tag }}</font><br>
            {{ field }}</p>
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}

        {% endfor %}
        <center><button type="submit">Save Changes</button></center>
</form>

{% endblock %}