<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css?{% now 'U' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Quiz</title>
  </head>
  <body>
  <div class = "container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
      {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><font size="4">About Us </font></li>
                <li><font size="4">Contact Us </font></li>
                <li><font size="4">Settings </font></li>
                <li><a href="/main/profile/"><font size="4">My Profile</font></a></li>
                {% block 'nav1' %}
                {% endblock %}
            </ul>
           <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href=" "><b><font size="4"> Welcome {{user.username}} !</font></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'change_password' %}"><p style="color:black"> <i>Change Password</p></i></li>
                    <li><a href="{% url 'logout' %}"><i>Logout</i></a></li>
                </ul>
            </li>
           </ul>
      {% else %}
      <ul class="nav navbar-nav">
        <li><font size="4">About Us </font></li>
        <li><font size="4">Contact Us </font></li>
        <li><font size="4">Settings </font></li>
    </ul>
       <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'login' %}"><i><font size="4">Login</font></i></a></li>
       </ul>
      {% endif %}
        </div>
    </nav>
  </div>
    {% block 'content' %}
    {% endblock %}
  </body>
</html>
